#panelbg{
	background-color: #119a0f;
}

#subpanelbg{
	background-color: blue;
}

#menubg{
	background-color: #ff290a;
}

#menufont{
	font-family: cursive;
	color: white;
}

#datafont{
	font-size: 12px;
	border-bottom:1px dotted;
	border-right:1px solid;
	border-left:1px solid;
}

#tableth{
	border:1px solid;
	font-size: 14px;
	font-family: monospace;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#vouchersAboveDetail{
	font-family: monospace;
    font-style: italic;
    font-weight: bold;
}

#voucherCheckedBy{
	font-family: monospace;
    font-style: italic;
    font-weight: bold;
}

#voucherName{
	font-family: monospace;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

#systemTitle{
	font-family: monospace;
    font-style: italic;
    font-weight: bold;
}

#systemDetail{
	font-family: monospace;
    font-style: italic;
    font-weight: bold;
}

#tabledata{
	text-align:center;
}

#detailcontent{
	color:white;
	text-align:center;
}

#detailstatement{
	color:white;
}

#detailheader{
	color:white;
}

#createdby{
	color:red;
}

.btn {
  background-color: red;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: green;
}